<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_templates/meta'); %>
    <title>About | site-home</title>
  </head>

  <body>
    <div>
      <h1>About</h1>
      <p>This is the about page.</p>
    </div>
  </body>
</html>
