<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_templates/meta'); %>
    <title>小牛满满</title>
  </head>
  <body>
    <div class="relative h-full p-8">
      <div>In building</div>
    </div>
  </body>
</html>
