<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_templates/meta', { meta }); %>
    <title>小牛满满</title>
  </head>
  <body class="bg-stone-100">
    <div data-renderer="h-SSG" class="relative flex min-h-screen flex-col">
      <header class="fixed top-0 h-16 w-full bg-olive-50/80 backdrop-blur-sm">
        <div class="flex h-full items-center">
          <div class="h-full p-2">
            <img src="./logo.svg" alt="Logo" class="h-full object-contain" />
          </div>
        </div>
      </header>
      <main
        class="mt-16 bg-linear-[-45deg] from-transparent from-50% via-zinc-200 via-50% to-transparent to-51% bg-size-[64px_64px] p-6"
      >
        <section class="min-h-200 rounded-lg bg-white p-6">
          <h2 class="mb-4 text-2xl font-bold">欢迎来到 <span class="text-amber-500">ycan.cc</span></h2>
          <p class="mb-4">这是一个示例页面，通过示例页面，进行布局样式调试。</p>
          <UA />
        </section>
        <section class="mt-6 min-h-200 rounded-lg bg-white p-6">
          <h2 class="mb-4 text-2xl font-bold">关于我</h2>
          <p>我是一名前端开发者，喜欢探索各种前端技术和工具。</p>
        </section>
      </main>
      <footer class="px-4 py-2">
        <!-- legal start -->
        <%- include('_templates/legal'); %>
        <!-- legal end -->
        <div class="flex flex-col gap-4 md:flex-row">
          <div class="flex-1"></div>
          <div class="flex flex-col items-end gap-1 text-xs">
            <div>©2026 <span><%= data.author %></span></div>
            <div>
              <span>Last updated on <span><%= data.buildAt %></span></span>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div data-renderer="d-SolidJS" id="render-root"></div>
    <script type="module" src="index.app.tsx"></script>
  </body>
</html>
